<nav class="left-nav" [class]="config()!.customClass">
  <ul>
    @for (item of config()!.items; track item.id) {
      <li>
        <div class="flex flexSpaceBetween">
          <a
            class="navItems"
            [class.subnavOpen]="item.isOpen"
            [routerLink]="item.routerLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.name | uppercase }}</a
          >
          @if (item.subnav.length > 0) {
            <a
              class="material-symbols-outlined"
              [class.open]="item.isOpen"
              (click)="subnavOpen(item)"
              >arrow_right
            </a>
          }
        </div>
        
        @if (item.subnav && item.isOpen) {
          <ul class="subnav">
            @for (subItem of item.subnav; track subItem.id) {
              <li>
                <div class="flex flexSpaceBetween">
                  <!-- Resolves reliably to: /operators/transformationOperators -->
                  <a
                    [routerLink]="[item.routerLink, subItem.path]"
                    class="item"
                    routerLinkActive="active"
                    >{{ subItem.name | uppercase }}</a
                  >
                  @if (subItem.operators.length > 0) {
                    <a
                      class="material-symbols-outlined"
                      [class.open]="subItem.isOpen"
                      (click)="subnavOpen(subItem)"
                      >arrow_right</a
                    >
                  }
                </div>

                @if (subItem.operators && subItem.isOpen) {
                  <ul class="operators">
                    @for (operator of subItem.operators; track operator) {
                      <li>
                        <!-- Clean handling: Uses routerLink with fragments natively -->
                        <a 
                          [routerLink]="[item.routerLink, subItem.path]" 
                          [fragment]="operator"
                          class="item"
                          (click)="scrollToElement(operator)">
                          {{ operator }}
                        </a>
                      </li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</nav>
