@import 'highlight.js/styles/github-dark.css';
@import url("./assets/icons.scss");


/* You can add global styles to this file, and also import other style files */
:root {
  --color-dark-bg: #000000;
  --color-primary: #fca311;
  --color-accent: #fca311;
  --color-light-text: #e5e5e5;
  --color-dark-text: #14213d;
  --color-code-bg: #14213d;

  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;

  --font-family: 'Rajdhani', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-dark-bg);
  color: var(--color-light-text);
  font-family: var(--font-family);
}
